.vscode/
### C++ ###
# Prerequisites
*.d

# test code
test.cpp
test
test.yml
test.dSYM/

# Compiled Object files
*.slo
*.ilk
*.pdb
*.lo
*.o
*.obj
*.yml
*.dSYM

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app